html {
  height: 100%;
}
body {
  font-size: 40px;
  min-height: 100%;
}

a {
  color: #83c4e7;
}

.select select, .input, body, .box, .input::placeholder {
  background-color: #000;
  color: #FFF;
}

.strike {
  text-decoration: line-through;
}

.box {
  border: 1px solid #FFF;
}

.tag:not(body) {
  font-size: 35px;
}

.table-artist-name {
  max-width: 230px;
}

.artist-bio {
  font-size: 30px;
}
.artist-name {
  font-size: 60px;
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag) {
  color:#83c4e7;
  font-size: 30px;
}

[v-cloak] { display:none; }
