<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Treefort App</title>

  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <section class="section" id="app">

    <div class="container">

      <div class="modal" v-bind:class="{ 'is-active':showArtistModal }">
        <div class="modal-background" @click="showArtistModal = false"></div>
        <div class="modal-card">
          <section class="modal-card-body">
            <artist-details :event="selectedEvent" v-if="selectedEvent != null"></artist-details>
          </section>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-fullwidth is-large">
            <select v-model="selectedVenue" @change="venueSelected()">
              <option :value="null">All Venues</option>
              <option v-for="venue in venues()">{{ venue }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-fullwidth is-large">
            <select v-model="selectedGenre" @change="genreSelected()">
              <option :value="null">All Genres</option>
              <option v-for="genre in genres()">{{ genre }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <input v-model="searchValue" class="input is-large" type="text" placeholder="Search Artists" @keyUp="searchArtist">
        </div>
      </div>

      <!-- <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><a @click="sortByArtist">Artist</a></th>
          <th><a @click="sortByTime">Time</a></th>
          <th><a @click="sortByVenue">Venue</a></th>
        </tr>
      </thead>
      <tr v-for="result in results" v-bind:class="{ strike:result.cancelled }" @click="setSelectedEvent(result)" v-cloak>
        <td class="table-artist-name"><a @click="setSelectedEvent(result)">{{ result.name }}</a></td>
        <td>{{ result.start_time_moment.format("ddd h:mma") }}</td>
        <td><a :href="venueUrl(result.venue)">{{ result.venue.name }}</a></td>
      </tr>
    </table> -->

      <div class="box" v-for="result in results" v-cloak>
        <div class="columns is-mobile">
          <div class="column">{{ result.start_time_moment.format("ddd h:mma") }}</div>
          <div v-bind:class="{ column: true, strike:result.cancelled }">
            <a @click="setSelectedEvent(result)">{{ result.name }}</a>
          </div>
          <div class="column has-text-right">{{ result.venue.name }}</div>
        </div>
      </div>

    </div>
  </section>
  <script src='js/moment.min.js'></script>
  <script src='js/vue.min.js'></script>
  <script src="js/index.js"></script>

</body>

</html>